#ex-2-3 ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
}

#ex-2-3 li {
  /* width: calc((100% - 15rem) / 4); */
  text-align: center;
  border: 2px solid gray;
  padding: 1rem;
}
